
# enviroment variables
.env
.env.*

# apps 
.ios

# Node / PNPM
node_modules/
**/node_modules/
.pnpm-store/
.npm/

# Expo
.expo/
.expo-shared/
web-build/
dist/

# iOS / Android (si prebuild)
ios/Pods/
ios/build/
android/.gradle/
android/app/build/
*.keystore

# SO / varios
.DS_Store

